<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>
	<div class=container>
	<div class="col-md-4">
		<h1>Contactos</h1>
	</div>
	 <div style="padding:0 20px">
	<table class="table table-striped">
			<tr>
		    <th>Nombre</th>
		    <th>direccion</th>
		    <th>telefono</th>
		    <th>cliente</th>
		</tr>  
		<tr th:each="contacto : ${contactos}">
			<td th:text="${contacto.nombreCont}"></td>
			<td th:text="${contacto.direccionCont}"></td>
			<td th:text="${contacto.telefonoCont}"></td>
			<td th:text="${contacto.cliente.nombreCli}"></td>


	</table>
	</div>
		<a href="/add" class="btn btn-primary">agregar contacto</a>
		<a href="/" class="btn btn-primary">inicio</a>
	</div>
	
</body>
</html>